.backupMe{


   @include navbar_color($secondary_color, $dark_color);


}
.navbar {



  .nav-item {


    &:nth-child(3) {
      margin-top: 1.5rem;
      border-top: 1px solid rgba(219, 217, 217, 0.623);
      padding-top: .4rem;
    }
  }

  .clearer {
    display: flex;
    justify-content: space-evenly;

    margin-bottom: 1rem;

    & .signin {
      width: 50%;
      border: 1px solid #fff;
      border-radius: 5px;
      text-align: center;
      position: relative;
    }

    & .signup {
      width: 50%;
      border: 1px solid #fff;
      position: relative;
      text-align: center;
      border-radius: 5px;
    }




    & .signup::after {
      content: 'OR';
      position: absolute;
      right: 100%;
      top: 4px;
      height: 32px;
      width: 32px;
      margin-right: -16px;
      color: #fff;
      font-weight: 700;
      text-align: center;
      line-height: 32px;
      font-size: 10px;
      border-radius: 50%;
      background: 0 0;
      border: 1px solid #fff;
    }

    & .signup::before {
      content: '';
      position: absolute;
      right: 100%;
      top: -5px;
      height: 52px;
      width: 52px;
      margin-right: -25px;
      border-radius: 50%;
      background: #2a6f87;
    }

    & .signin:hover {
      background: rgba(255, 255, 255, 0.37);
    }

    & .signup:hover {
      background: rgba(255, 255, 255, 0.37);
    }
  }
}




// @include mediasm{
  
// .navbar {

//   @include navbar_color($secondary_color, $dark_color);


//   .nav-item {


//     &:nth-child(3) {
//       margin-top: 1.5rem;
//       border-top: 1px solid rgba(219, 217, 217, 0.623);
//       padding-top: .4rem;
//     }
//   }

//   .clearer {
//     display: flex;
//     justify-content: space-evenly;

//     margin-bottom: 1rem;

//     & .signin {
//       width: 50%;
//       border: 1px solid #fff;
//       border-radius: 5px;
//       text-align: center;
//       position: relative;
//     }

//     & .signup {
//       width: 50%;
//       border: 1px solid #fff;
//       position: relative;
//       text-align: center;
//       border-radius: 5px;
//     }




//     & .signup::after {
//       content: 'OR';
//       position: absolute;
//       right: 100%;
//       top: 4px;
//       height: 32px;
//       width: 32px;
//       margin-right: -16px;
//       color: #fff;
//       font-weight: 700;
//       text-align: center;
//       line-height: 32px;
//       font-size: 10px;
//       border-radius: 50%;
//       background: 0 0;
//       border: 1px solid #fff;
//     }

//     & .signup::before {
//       content: '';
//       position: absolute;
//       right: 100%;
//       top: -5px;
//       height: 52px;
//       width: 52px;
//       margin-right: -25px;
//       border-radius: 50%;
//       background: #2a6f87;
//     }

//     & .signin:hover {
//       background: rgba(255, 255, 255, 0.37);
//     }

//     & .signup:hover {
//       background: rgba(255, 255, 255, 0.37);
//     }
//   }
// }




// }

