body {
  font-family: "Montserrat", sans-serif;
  color: #fff; }

/* width */
::-webkit-scrollbar {
  width: 3px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #8a8989;
  border-radius: 1px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(66, 66, 66, 0.575);
  border-radius: 1px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(90, 89, 89, 0.658); }

.smaller1,
.smaller2 {
  display: none; }

#showcase {
  width: 100%;
  height: 100vh;
  background: #4ca1af !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #073b5e, #4ca1af) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #073b5e, #4ca1af) !important;
  overflow-x: hidden; }
  #showcase .auth {
    width: 100%;
    margin-top: 1rem;
    text-align: center; }
    #showcase .auth a {
      color: #797676; }

@media (min-width: 700px) {
  .navbar {
    padding: 1rem; }
    .navbar .nav-item {
      padding-right: 1rem; }
    .navbar .smaller1,
    .navbar .smaller2 {
      display: block; }
    .navbar .smaller2 {
      border: 1px solid #fff;
      padding: 0;
      border-radius: 5px; }
      .navbar .smaller2:hover {
        background: rgba(255, 255, 255, 0.514); }
    .navbar .signin,
    .navbar .signup {
      display: none; }
    .navbar .chart {
      padding: 0 !important;
      margin: 0 !important;
      border: none !important; } }

@media (max-width: 600px) {
  .content #bitcoin {
    display: none; }
  #funding {
    text-align: center;
    margin-top: 1rem; }
  .fukrey {
    width: 100%; }
  #apple {
    margin-top: 1rem; } }

.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1rem; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

input:checked + .slider {
  background-color: #2196f3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

#opens {
  border: 1px solid rgba(168, 169, 170, 0.651);
  border-radius: 5px;
  background: rgba(216, 216, 216, 0.548); }

#tooltip {
  position: relative;
  display: inline-block; }
  #tooltip .tooltiptext {
    display: none;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 100%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s; }
  #tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent; }
  #tooltip:hover .tooltiptext {
    display: inline-block;
    opacity: 1; }

#gayab {
  display: none; }

#mere {
  display: none; }

.modelss {
  cursor: pointer; }

.moto li {
  margin-top: 0.7rem; }

.moto li div {
  font-size: 0.8rem; }

.navbars {
  background: #4ca1af !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #073b5e, #4ca1af) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #073b5e, #4ca1af) !important; }
  .navbars .nav-item:nth-child(3) {
    margin-top: 1.5rem;
    border-top: 1px solid rgba(219, 217, 217, 0.623);
    padding-top: .4rem; }
  .navbars .clearer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem; }
    .navbars .clearer .signin {
      width: 50%;
      border: 1px solid #fff;
      border-radius: 5px;
      text-align: center;
      position: relative; }
    .navbars .clearer .signup {
      width: 50%;
      border: 1px solid #fff;
      position: relative;
      text-align: center;
      border-radius: 5px; }
    .navbars .clearer .signup::after {
      content: 'OR';
      position: absolute;
      right: 100%;
      top: 4px;
      height: 32px;
      width: 32px;
      margin-right: -16px;
      color: #fff;
      font-weight: 700;
      text-align: center;
      line-height: 32px;
      font-size: 10px;
      border-radius: 50%;
      background: 0 0;
      border: 1px solid #fff; }
    .navbars .clearer .signup::before {
      content: '';
      position: absolute;
      right: 100%;
      top: -5px;
      height: 52px;
      width: 52px;
      margin-right: -25px;
      border-radius: 50%;
      background: #2a6f87; }
    .navbars .clearer .signin:hover {
      background: rgba(255, 255, 255, 0.37); }
    .navbars .clearer .signup:hover {
      background: rgba(255, 255, 255, 0.37); }

.main-chart {
  padding: 1rem; }
  .main-chart .market {
    padding: 0.3rem; }
  .main-chart #nav-tab {
    background: rgba(243, 241, 241, 0.616);
    text-align: center;
    border: none; }
    .main-chart #nav-tab .harami {
      color: green; }
    .main-chart #nav-tab .active {
      color: #000;
      border-top: 5px solid #4ca1af; }
    .main-chart #nav-tab a {
      color: rgba(175, 173, 173, 0.753); }
  .main-chart ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .main-chart li {
    margin-top: 1rem;
    border-bottom: 1px dotted rgba(167, 166, 166, 0.548);
    padding-bottom: 0.4rem; }
  .main-chart .pair i {
    font-size: 1.5rem;
    margin-right: 0.5rem; }
  .main-chart #trade_me {
    padding: 0;
    margin: 0;
    text-align: center; }
    .main-chart #trade_me li {
      text-align: center;
      margin: 0;
      border: none;
      font-size: 0.7rem;
      font-weight: 100;
      margin-top: 0.7rem;
      margin-bottom: 0.7rem; }
      .main-chart #trade_me li i {
        font-size: 0.7rem; }
  .main-chart #trading {
    font-size: 0.7rem; }
    .main-chart #trading i {
      font-size: 0.7rem; }
  .main-chart #nav-tabs {
    background: rgba(243, 241, 241, 0.616); }
    .main-chart #nav-tabs a {
      color: rgba(175, 173, 173, 0.753); }
    .main-chart #nav-tabs .active {
      color: #000; }
    .main-chart #nav-tabs .dada {
      border-top: 5px solid rgba(211, 80, 80, 0.781); }
    .main-chart #nav-tabs .titu {
      border-top: 5px solid rgba(74, 202, 74, 0.781); }
  .main-chart .buy-me {
    border: 1px solid rgba(175, 173, 173, 0.753);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 1rem; }
    .main-chart .buy-me input {
      font-size: 1rem; }
    .main-chart .buy-me input[type="text"]:focus {
      outline: #fff; }
  .main-chart .app-stores {
    margin-top: 1rem; }
    .main-chart .app-stores button {
      background: #000;
      color: #fff;
      text-align: left; }
      .main-chart .app-stores button i {
        font-size: 2rem; }

#showIt {
  width: 100%;
  height: 630px;
  background: #4ca1af !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #073b5e, #4ca1af) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #073b5e, #4ca1af) !important;
  background-size: cover;
  position: relative; }
  #showIt #particles {
    position: absolute;
    width: 100%;
    height: 100%; }
  #showIt .contents {
    width: 100%;
    height: 100%;
    margin-top: 8.5rem; }
    #showIt .contents h1 {
      font-weight: bolder;
      font-size: 3rem; }
    #showIt .contents .form-group .btn {
      font-weight: bolder; }

#coins table thead th {
  border-bottom: 1px solid #dee2e6;
  padding: .7rem; }

#coins table tr td {
  padding: 1rem;
  font-size: 1.5rem; }
  #coins table tr td strong {
    font-weight: bolder; }

#chart {
  max-width: 300px;
  margin: 35px auto;
  opacity: 0.9; }

.top-of-page {
  background: transparent; }

.setbakground {
  background: #4ca1af !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #073b5e, #4ca1af) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #073b5e, #4ca1af) !important; }

@media (max-width: 600px) {
  #showIt .contents h1 {
    font-size: 2.5rem; }
  #coins table tr td {
    padding: 0.8rem;
    font-size: 1rem; } }
